html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  user-select: none;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  height: 100%;
}

.deck {
  display: flex;
  flex-wrap: wrap;
}

.third {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.full {
  width: 100%;
}

.foo {
 color: #2C3E50;
 color: #E74C3C;
 color: #ECF0F1;
 color: #3498DB;
 color: #2980B9;
}

.card {
  text-align: center;
}

.card-wrapper {
  padding: 5%;
}

.card-inner {
  padding-bottom: 140%;
  pointer-events: none;
}

.card-label {
  font-size: 3em;
}

.full .card-label {
  font-size: 8em;
}

.card-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  padding: 0 5%;
  height: 100%;
}